# Log file format
log/*

# Ignore tree maker
tree-md.sh

# Ignore coverage tests folder
coverage/*

# Ignore tmp archives
tmp/*tar
tmp/*gz

# Ignore test files
test*.sh

# Ignore build files
*.manifest
build/
.gitlab/vale/styles
